<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gestordearchivos">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="Gestor de Archivos"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.GestorDeArchivos"
        android:supportsRtl="true">

        <activity android:name=".LoginActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".VisorPdfActivity" />
        <activity android:name=".BibliotecaActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".EstadisticasActivity" />
    </application>
</manifest>
